###############################################################################
# Vue / Node / Vite
###############################################################################
node_modules/
dist/
build/
*.local

# Fichiers générés par Vite (cache)
.cache/
.vite/

###############################################################################
# Logs
###############################################################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

###############################################################################
# Fichiers d’environnement
###############################################################################
.env
.env.*.local
.env.local
.env.*.prod
.env.production
*.env.*.swp

###############################################################################
# Outils de test & couverture
###############################################################################
coverage/
nyc_output/
*.lcov

###############################################################################
# Typescript
###############################################################################
*.tsbuildinfo

###############################################################################
# IDEs & éditeurs
###############################################################################
# VS Code
.vscode/
.history/               # extension “Local History”
# JetBrains / WebStorm (au cas où)
.idea/
*.iml
# Sublime Text
*.sublime*
# Visual Studio (C#)
.vs/

###############################################################################
# Fichiers système
###############################################################################
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
# Linux/Mac swap files
*~
*.swp
*.swo
# Windows Thumbs
Thumbs.db
# Security
*.pem
*.p12

###############################################################################
# Images optimisées / sorties graphiques
###############################################################################
*.psd
*.ai
*.xcf
